.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: white;
    color: #050f0b;
  }

  button:hover {
    background-color: #5000ca;
    color: white;
  }

  fieldset {
    background-color: white;
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}

.bg-white {
  background-color: white;
  border-radius: 7px;
}

.light-mode {
  .contact-form button {
    background-color: #0d1116;
    color: white;
  }

  .contact-form button:hover {
    background-color: #5000ca;
    color: white;
  }

  .contact-form fieldset {
    background-color: #e0e0e0;
  }

  .bg-white {
    background-color: rgb(192, 192, 192) !important;
  }
}