// COLORS

// DARK
$bg-dark: #0d1116;
$bg-secondary-dark: #161b22;
$bg-hover-dark: #21262d;

$text-dark: #ffffff;
$text-muted-dark: #c9d1d9;

$link-dark: #58a6ff;
$link-hover: #5000ca;

// LIGHT
$bg-light: #f8f9fa;
$bg-secondary-light: #e0e0e0;
$bg-hover-light: #d0d0d0;

$text-light: #0d1116;
$text-muted-light: #333;

$link-light: #0d1116;

// EXTRA
$white: #ffffff;
$black: #000000;

$overlay-dark: rgba(0, 0, 0, 0.85);
$overlay-light: rgba(0, 0, 0, 0.5);

// UI
$border-radius: 8px;
$transition: 0.3s ease;

$shadow:
  0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
  0px 1px 5px 0px rgba(0, 0, 0, 0.12);